@import url(../fonts/Gilroy/stylesheet.css);
@import "form.css";
@import "our-partners.css";
@import "about-company.css";
@import "how-work.css";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

strong,
b {
  font-weight: 600;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

em,
i {
  font-style: italic;
}

sup,
sub {
  position: relative;
  top: -0.6em;
  font-size: 65% !important;
  line-height: 1em !important;
}

sub {
  top: auto;
  bottom: -0.3em;
}

small {
  display: inline-block;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 1.666666666666667em;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main {
  display: block;
  position: relative;
  z-index: 1;
}

footer {
  background-color: var(--footer-color);
  color: rgba(255, 255, 255, 0.8);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(229 231 235);
}

::-webkit-scrollbar-thumb {
  background: rgb(75 85 99);
  border-radius: 5px;
}

/*_____________________________________________*/
html {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-text-size-adjust: 100%;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 29px;
  min-width: 320px;
  overflow-x: hidden !important;
  color: #171631;
  background-color: #1e0038;
}

.container {
  max-width: 1290px;
  padding: 0 40px;
  margin: 0 auto;
}

.btn {
  padding: 17px 26px;
  border-radius: 100px;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 14.5px;
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 7px;
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(94.27deg, #b721ff 0%, #21d4fd 100%);
  position: relative;
  border: none;
  z-index: 1;
}
.btn:hover {
  background-image: linear-gradient(94.27deg, #21d4fd 0%, #b721ff 100%);
}

.btn svg {
  margin-right: 6px;
}

header {
  padding: 16px 0 0;
  position: relative;
  z-index: 1;
}

body {
  position: relative;
}
.top-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(49, 38, 22, 0.15);
  padding-bottom: 8px;
}

.menu-headermenu-container {
  max-width: 464px;
}

.menu-headermenu-container ul {
  display: flex;
  align-items: center;
}

.menu-headermenu-container ul li {
  margin-right: 29px;
}

.menu-headermenu-container ul li:nth-last-child(1) {
  margin-right: 0;
}

.menu-headermenu-container ul a {
  font-size: 16px;
  letter-spacing: 0.095em;
  color: #FFFFFF80;
  opacity: 0.9;
}

.menu-headermenu-container ul a:hover {
  opacity: 1;
}

.logo img {
  max-width: 149px;
}

.contact-phones {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-phones .number {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
}

.social-contancs {
  display: flex;
  gap: 5px;
}

.social-contancs a {
  display: flex;
}

.social-contancs a:nth-last-child(1) {
  margin-right: 0;
}

header .logo {
  margin-left: -14px;
}

/* hero start */

#hero {
  margin-bottom: 90px;
}

.hero__block-title {
  font-size: 70px;
  line-height: 85px;
  font-weight: 700;
  color: #fff;
}
.circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 460px;
}
.item-one {
  position: absolute;
  right: 0;
  top: 0;
}
.gradient-text {
  background: linear-gradient(45deg, #b721ff, #21d4fd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.hero__block-subtitle {
  font-size: 20px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  margin-bottom: 35px;
  letter-spacing: 0.02em;
}

.hero__block-dignity {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  padding: 0 30px;
}

.hero__block-dignity-item {
  display: flex;
  align-items: center;
  max-width: 270px;
  margin-right: 60px;
}

.hero__block-dignity-item:nth-last-child(1) {
  margin-right: 0;
}

.hero__block-dignity-item-image {
  max-height: 40px;
  max-width: 40px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.hero__block-dignity-item-image > img {
  width: 100%;
}

.hero__block-dignity-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  letter-spacing: 0.02em;
}

.hero__arrow {
  margin-top: 57px;
  text-align: center;
  cursor: pointer;
}

.swiper-wrapper {
  display: flex;
  /* overflow: hidden; */
}

.swiper-slide img {
  height: 550px;
  width: 100%;
  display: block;
  object-fit: cover;
}

/* hero end */

/* led-screen-type start */

#led-screen-type {
  margin: 100px 0;
  position: relative;
}

#led-screen-type .container {
  position: relative;
  z-index: 1;
}

#led-screen-type .item-two {
  position: absolute;
  left: 0;
  right: 0;
}
.led-screen-type-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #fff;
}

.led-screen-type-block-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 48px;
}

.led-screen-type-block-item {
  display: flex;
  flex-direction: column;
}

.led-screen-type-block-item:last-child {
  margin-right: 0;
}

.led-screen-type-block-item-image {
  width: 100%;
  height: 100%;
}

.led-screen-type-block-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.led-screen-type-block-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 127.5%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #fff;
}

.led-screen-type-block-item-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  width: auto;
  font-size: 16px;
  padding: 15px 60px;
  border-radius: 30px;
  text-align: center;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}
.led-screen-type-block-item-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.led-screen-type-block-item-description {
  color: #fff;
  opacity: 0.7;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  max-width: 323px;
  margin: 15px auto 25px auto;
}
.circle-two {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  transform: translateY(60%);
}
.led-screen-type-block-item-link span p {
  background: -webkit-linear-gradient(94.27deg, #7a33dd 0%, #20d31d 100%);
  -webkit-text-fill-color: transparent;
}

.led-screen-type-block-item-link:hover span {
  background-color: transparent;
}

.led-screen-type-block-item-link:hover span p {
  background: transparent !important;
  -webkit-text-fill-color: #fff !important;
}

/* led-screen-type end */

/* project slider start */

.project_slider-block-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #fff;
  margin-bottom: 55px;
}
.project_slider-block .swiper-slide {
  max-width: 850px;
}
/* project slider end  */

.main-form__block {
  position: relative;
  overflow: hidden;
}

.main-form__block svg {
  position: absolute;
}

#first-bg-svg {
  top: 0;
  left: 0;
}

#second-bg-svg {
  right: 0;
  bottom: 0;
}

.main-form__block-form,
.main-form__block-title {
  z-index: 1;
  position: relative;
}

#circles {
  left: 65%;
  top: 5%;
}

input[type="submit"] {
  cursor: pointer;
}

#cross-svg {
  position: absolute;
  right: 22px;
  bottom: 30%;
  z-index: 1;
}

#main-form .container {
  position: relative;
}

.screen-placement__block.right .container {
  display: flex;
  flex-direction: row-reverse;
}

.screen-placement__block.left .container {
  display: flex;
}

.screen-placement__block-info-example-wrapper {
  display: flex;
  justify-content: space-between;
}

.screen-placement__block.right .screen-placement__block-image {
  margin-left: 140px;
}

.screen-placement__block.left .screen-placement__block-image {
  margin-right: 140px;
}

.screen-placement__block-info-wrapper-image img {
  max-height: 174px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.screen-placement__block-info-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.025em;
  margin-bottom: 16px;
}

.screen-placement__block-info-text {
  color: rgba(23, 22, 49, 0.6);
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 162%;
  margin-bottom: 42px;
}

.screen-placement__block-info-example-text {
  letter-spacing: 0.17em;
  font-weight: bold;
  font-size: 18px;
  line-height: 127.5%;
  color: #171631;
  margin-bottom: 19px;
}

.screen-placement__block-info-link {
  display: inline-flex;
  text-align: center;
  padding: 28px 110px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  margin-top: 36px;
}

.screen-placement__block {
  padding-top: 87px;
  padding-bottom: 77px;
}

#screen-placement > div:nth-child(odd) {
  background-color: #f6f6fb;
}

.four_stages__block-image:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='39' viewBox='0 0 22 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 37C19.4309 19.678 21.0029 18.1158 19.61 19.5L2 2' stroke='%23171631' stroke-width='4'/%3e%3c/svg%3e");
  transform: translate(197px, 17px);
  display: block;
  position: absolute;
  top: 0;
}

#why-me {
  margin: 90px 0;
}

.why-me-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #fff;
}

.why-me-block-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.why-me-block-item {
  border: 1px solid #443972;
  border-radius: 15px;
  padding: 30px 44px;
  background-color: rgb(68 57 114 / 40%);
}
.why-me-block-item-description {
  font-size: 14px;
  text-align: center;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
}
.why-me-block-item-title {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin: 16px auto;
}
.why-me-block-item-image {
  text-align: center;
}
.four_stages__block-image:last-child :after {
  content: unset;
}

.project-slider,
.solution-slider {
  overflow: inherit;
}

.project-slider .swiper-slide,
.solution-slider .swiper-slide {
  position: relative;
  z-index: 1;
}

.project-slider .swiper-slide img,
.solution-slider .swiper-slide img {
  opacity: 0.6;
}

.project-slider .swiper-slide.swiper-slide-active img,
.solution-slider .swiper-slide.swiper-slide-active img {
  opacity: 1;
}

#screen-placement {
  margin-top: 137px;
  margin-bottom: 112px;
}

#project_slider .swiper-pagination-fraction,
#project_slider .swiper-pagination-custom,
#project_slider .swiper-container-horizontal > .swiper-pagination-bullets,
#solution_slider .swiper-pagination-fraction,
#solution_slider .swiper-pagination-custom,
#solution_slider .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -39px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: #e8e8f2;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: none;
}

div[role="button"] {
  box-shadow: 0px 0px 8px rgba(48, 44, 234, 0.15);
  background-color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

div[role="button"] svg {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
}

div[role="button"]:hover path {
  stroke: var(--color-two);
}

#project_slider .swiper-button-next,
#project_slider .swiper-container-rtl .swiper-button-prev,
#solution_slider .swiper-button-next,
#solution_slider .swiper-container-rtl .swiper-button-prev {
  right: 200px;
  background-color: #a24fff;
  width: 50px;
  height: 50px;
}

#project_slider .swiper-button-prev,
#project_slider .swiper-container-rtl .swiper-button-next,
#solution_slider .swiper-button-prev,
#solution_slider .swiper-container-rtl .swiper-button-next {
  left: 200px;
  background-color: #a24fff;
  width: 50px;
  height: 50px;
}

#solution_slider .swiper-button-prev,
#solution_slider .swiper-container-rtl .swiper-button-next {
  left: 0;
  background-color: #a24fff;
}

#solution_slider .swiper-button-next,
#solution_slider .swiper-container-rtl .swiper-button-prev {
  right: 0;
}

#project_slider .swiper-button-next svg path,
#project_slider .swiper-button-prev svg path {
  stroke: #fff;
}
#project_slider .swiper-slide,
#solution_slider .swiper-slide {
  background-image: linear-gradient(
    0deg,
    var(--color-two) 0%,
    var(--color-two) 100%
  );
}

#project_slider,
#solution_slider {
  overflow: hidden;
  padding-bottom: 30px;
}

.screen-placement__block-info {
  margin-top: 50px;
}

.solution_slider-block {
  text-align: center;
}

.solution_slider-block-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff;
}

.solution_slider-block-description {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  opacity: 0.7;
  max-width: 850px;
  margin: 0 auto 39px;
}

.solution_slider-block-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 127.5%;
  letter-spacing: 0.02em;
}

#solution_slider {
  margin-top: 90px;
  margin-bottom: 90px;
}

#solution_slider .swiper-slide img {
  height: 260px;
}
.solution_slider-block {
  margin-top: 32px;
}

.delivery-methods__block {
  background-color: #f6f6fb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  min-height: 266px;
  height: max-content;
  padding: 39px 19px 17px 19px;
  box-sizing: border-box;
}

.delivery-methods__blocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.delivery-methods__block-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 24px 0 10px 0;
}

.delivery-methods__block-text {
  font-size: 14px;
  line-height: 17px;
  color: #000000b2;
  text-align: center;
}

.delivery-methods__info {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.delivery-methods__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.025em;
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

#delivery-methods {
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 70px 0 81px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-form-block .wpcf7 form .wpcf7-response-output {
  color: #fff;
}
body .wpcf7 form .wpcf7-response-output {
  margin: 0 20px 20px;
  color: #fff;
}

#delivery-methods {
  background: linear-gradient(
    92.59deg,
    #470c85 -7.11%,
    #5451a7 53.22%,
    #2a0458 118.57%
  );
  position: relative;
}
#delivery-methods .container {
  position: relative;
  z-index: 2;
}
.delivery-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.item-three {
  position: absolute;
}
.four_stages__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.025em;
  text-align: center;
}

#four_stages {
  margin-top: 188px;
}

.four_stages__blocks {
  display: flex;
  padding-top: 72px;
}

.four_stages__block {
  width: 100%;
  position: relative;
  margin-right: 40px;
  display: grid;
  grid-template-rows: 107px 56px;
}

.four_stages__block:nth-last-child(1) {
  margin-right: 0;
}

.four_stages__block:nth-last-child(1) .four_stages__block-image:after {
  content: none;
}

.four_stages__block svg {
  position: relative;
  z-index: 1;
}

.our_stages__block-number-stage {
  color: rgba(23, 22, 49, 0.05);
  font-weight: 900;
  font-size: 72px;
  line-height: 92px;
  letter-spacing: 0.025em;
  position: absolute;
  transform: translate(61px, -50px);
  z-index: 0;
}

.our_stages__block-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  letter-spacing: 0.02em;
  max-width: 190px;
  align-self: center;
}

.our_stages__block-text {
  font-size: 14px;
  line-height: 151%;
  letter-spacing: 0.02em;
}

.product-quality__block {
  display: flex;
  align-items: center;
  height: 100%;
}

.product-quality__block > div {
  width: 100%;
  height: 100%;
}

#product-quality {
  background-color: #f6f6fb;
  height: 595px;
  margin-top: 150px;
}

#product-quality .container {
  height: 100%;
}

.product-quality__block-left {
  position: relative;
}

.product-quality__block-left-image img {
  position: absolute;
  bottom: 29px;
  left: -99px;
}

.product-quality__block-right {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
  position: relative;
  z-index: 1;
}

.product-quality__block-left {
  max-width: 500px;
}

.product-quality__block-right-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.025em;
  margin-bottom: 24px;
  max-width: 440px;
}

.product-quality__block-right-text {
  max-width: 455px;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 151%;
}

.product-quality__block-left-person {
  width: 260px;
  border-radius: 8px;
  background: linear-gradient(
    94.27deg,
    #fff 0%,
    var(--color-two) 100%
  );
  box-sizing: border-box;
  box-shadow: 0px 12px 32px -12px rgba(48, 44, 234, 0.5);
  padding: 19px 26px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 98px;
  bottom: 61px;
}

.product-quality__block-left-person-name {
  letter-spacing: 0.1em;
  font-size: 18px;
  line-height: 127.5%;
  font-weight: bold;
}

.product-quality__block-left-person-position {
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 151%;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links p.title,
footer p.title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 24px;
}
.footer-links a {
  color: #a5a5a5;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  line-height: 22px;
  display: flex;
  gap: 12px;
}
footer {
  padding-top: 61px;
  background-color: #150027;
}

.footer_logo img {
  width: 171px;
}

.copyright {
  text-align: center;
  padding: 40px 0;
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
}
.copyright-links {
  display: flex;
  gap: 30px;
}
footer .contact-phones {
  margin: 0;
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main_number {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.footer_logo {
  margin-top: -19px;
  margin-left: -6px;
}

.requisites {
  margin-top: 23px;
  letter-spacing: 0.02em;
  line-height: 151%;
}

.work-time {
  padding: 15px 0 0 9px;
}

.work-time h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 151%;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.work-time__content {
  font-size: 16px;
  line-height: 151%;
}

.work-time__content p {
  margin-bottom: 7px;
}

#footer-callback {
  align-self: flex-end;
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 1;
  border-radius: 8px;
}

.video-overlay svg {
  cursor: pointer;
}

.body-bg-svg-left {
  position: absolute;
  top: 0;
  left: -140px;
  z-index: -1;
}

.body-bg-svg-right {
  position: absolute;
  right: -140px;
  top: 0;
  z-index: -1;
}

.body-svg-dots-one {
  position: absolute;
  left: 30px;
  top: 63px;
  z-index: -1;
}

.body-svg-line-one {
  position: absolute;
  right: 63px;
  top: 58px;
  z-index: -1;
}

.body-svg-line-two {
  position: absolute;
  left: 75px;
  top: 317px;
  z-index: -1;
}

.body-svg-cross-one {
  position: absolute;
  right: 152px;
  top: 256px;
  z-index: -1;
}

.body-svg-dots-two {
  position: absolute;
  right: 51px;
  top: 722px;
  z-index: -1;
}

.body-svg-cross-two {
  position: absolute;
  left: 51px;
  top: 760px;
  z-index: -1;
}

#mediapolis_is {
  background: linear-gradient(
    92.59deg,
    #470c85 -7.11%,
    #5451a7 53.22%,
    #2a0458 118.57%
  );
  padding: 90px 0 62px;
  margin: 90px 0;
  position: relative;
}
.transparent-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#mediapolis_is .container {
  position: relative;
  z-index: 2;
}
.mediapolis_is__block-first-row-dignity,
.mediapolis_is__block-second-row-dignity {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
}

.mediapolis_is__block-first-row-dignity {
  place-items: flex-end;
}
.mediapolis_is__block-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 197px;
  width: 100%;
  margin-bottom: 5px;
  color: #fff;
}

.mediapolis_is__main-title {
  text-align: center;
  letter-spacing: 0.025em;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 50px;
  color: #fff;
}

.mediapolis_is__block.column .mediapolis_is__main-title {
  margin-bottom: 0;
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

.mediapolis_is__block-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 127.5%;
  max-width: 227px;
  color: #fff;
  opacity: 0.7;
}

.mediapolis_is__block-image {
  margin: 30px;
}

.mediapolis_is__block-item {
  display: flex;
  width: 250px;
}

.mediapolis_is__block-description {
  margin-left: 17px;
}

.display-device__block-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.025em;
}

.display-device_show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
  align-items: flex-end;
  padding-top: 111px;
  padding-bottom: 100px;
}

.display-device_show-two,
.display-device_show-one {
  position: relative;
}

.display-device_show-two .image-caprion {
  position: absolute;
  bottom: 41px;
  left: 2%;
}

#display-device {
  margin-bottom: 100px;
}

.cursor-circle {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: 6px solid rgba(255, 255, 255, 0.19);
  display: block;
  border-radius: 100%;
}

.dashed-cursor {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
}

.dashed-cursor p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.025em;
}

.dashed-line {
  height: 19vw;
  border-style: dashed;
  border-width: 0 0 0 3px;
}

.dashed-cursor.screen,
.dashed-cursor.cabinet {
  flex-direction: column-reverse;
}

.dashed-cursor.cabinet {
  left: 57%;
  top: 32%;
}

.dashed-cursor.screen {
  left: 24%;
  top: 28%;
}

.dashed-cursor.module {
  left: 65%;
  bottom: 86%;
}

.dashed-cursor.module .dashed-line {
  height: 105px;
  min-height: unset;
  transform: rotate(45deg) translate(45px, -19px);
}

.dashed-cursor.module p {
  transform: translate(91px, 79%);
}

.display-device_show img {
  width: 100%;
}

.spets-lines {
  display: flex;
  justify-content: space-between;
  width: 86%;
}

.spets-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spets-line .dashed-line {
  height: 115px;
}

.dashed-cursor.step {
  left: 18.6%;
  bottom: 75%;
}

.where_to_put__block-locations.more_than_four {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
}

.more_than_four .where_to_put__block-locations-item {
  margin-bottom: 60px;
}

.where_to_put__block-locations-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  letter-spacing: 0.02em;
  margin-top: 10px;
}

.more_than_four .where_to_put__block-locations-item:nth-child(1) {
  width: calc(43% - 40px);
  margin-right: 40px;
}

.more_than_four .where_to_put__block-locations-item:nth-child(2) {
  width: calc(34.5% - 40px);
  margin-right: 40px;
}

.more_than_four .where_to_put__block-locations-item:nth-child(3) {
  width: calc(22.5%);
}

.more_than_four .where_to_put__block-locations-item:nth-child(4) {
  width: calc(34.1% - 40px);
  margin-right: 40px;
}

.more_than_four .where_to_put__block-locations-item:nth-child(5) {
  width: calc(34.6% - 40px);
  margin-right: 40px;
}

.more_than_four .where_to_put__block-locations-item:nth-child(6) {
  width: calc(31%);
}

.more_than_four .where_to_put__block-locations-item:nth-child(7) {
  width: calc(51.5% - 40px);
  margin-right: 40px;
}

.more_than_four .where_to_put__block-locations-item:nth-child(8) {
  width: calc(48.5%);
}

.where_to_put__block-locations-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 301px;
}

.where_to_put__block-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.025em;
}

#where_to_put {
  margin-top: 173px;
}

#project_slider {
  margin: 90px 0;
}

#how-work {
  margin: 90px 0;
}

#project_slider .description {
  color: #fff;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
}
.form-transparent-bg {
  position: relative;
}
.form-transparent-bg .main-form__content {
  position: relative;
  z-index: 2;
}
.phone-form {
  display: flex;
  gap: 20px;
}
.phone-form br {
  display: none;
}
.phone-form-button {
  border: none;
  background-color: #fff;
  border-radius: 10px;
  font-size: 16x;
  color: #000;
  font-weight: 500;
  padding: 0 45px;
}
.form-transparent-bg .form-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
#project_slider .description h6 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 24px;
}
#project_slider .description p {
  opacity: 0.7;
}
#types-of-screens {
 margin: 90px 0;
}

.section-title {
  font-weight: 600;
  font-size: 40px;
  line-height: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.types-of-screens__blocks {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.types-of-screens__block {
  display: grid;
  grid-template-rows: 221px 29px 130px;
  border: 1px solid #443972;
  border-radius: 15px;
  background: #2A164F;
  width: 300px;
}

.types-of-screens__block-title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.types-of-screens__block-description {
  font-weight: 500;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  opacity: .7;
}
.types-of-screens__block-description p {
  line-height: normal;
}
.types-of-screens__block-image {
  text-align: center;
}

.pixel-step__image img {
  width: 100%;
}

.pixel-step__title {
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}
.pixel_step_description {
  color: #fff;
  opacity: .7;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  max-width: 890px;
  margin: 0 auto 40px;
}
.pixel-step__image {
  background: #fff;
  border-radius: 15px;
}

#pixel-step {
  margin: 90px 0;
  background: linear-gradient(92.59deg, #5451A7 -7.11%, #2A0458 53.22%, #5451A7 118.57%);
  padding: 88px 0;
  position: relative;
}
#pixel-step .container {
  position: relative;
  z-index: 1;
}
#main-form-two .container,
#main-form-three .container {
  position: relative;
}

.where_to_put__block-locations.less_than_four {
  display: flex;
  flex-wrap: wrap;
  margin-top: 49px;
}

.less_than_four .where_to_put__block-locations-item:nth-child(1) {
  width: calc(43% - 40px);
  margin-right: 40px;
  margin-bottom: 60px;
}

.less_than_four .where_to_put__block-locations-item:nth-child(2) {
  width: 57%;
  margin-bottom: 60px;
}

.less_than_four .where_to_put__block-locations-item:nth-child(3) {
  width: calc(60.3% - 40px);
  margin-right: 40px;
}

.less_than_four .where_to_put__block-locations-item:nth-child(4) {
  width: 39.7%;
}

.mediapolis_is__block-image img {
  width: 100%;
}

.additional-options__blocks {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

#additional-options {
  margin: 90px 0;
}

.additional-options__block {
  border: 1px solid #443972;
  padding: 30px;
  background-color: rgb(68 57 114 / 40%);
  border-radius: 15px;
  color: #fff;
  width: 100%;
}
.additional-options__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

.additional-options__block-description_image {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.additional-options__block-image {
  text-align: center;
}
.additional-options__block-description {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.7;
  font-weight: 400;
  max-width: 262px;
}
.additional-options__block-image img {
  height: 200px;
}

.main-module__block-left-title {
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
}

.main-module__block-left-subtitle {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  opacity: 0.7;
  font-weight: 500;
}

.main-module__block {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(25, 3vh);
  margin-top: 80px;
  color: #fff;
}

.main-module__block #how-work-callback {
  grid-column-start: 1;
  grid-row-start: 20;
  width: 220px;
  height: 50px;
}
.main-module__block-left-dignity {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.main-module__block-item {
  display: flex;
  gap: 14px;
}

.main-module__block-item svg {
  margin-right: 20px;
}

.main-module__block-left-dignity-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  letter-spacing: 0.02em;
  max-width: 537px;
}
.main-module__block-left-dignity-title p:nth-child(1) {
  margin-bottom: 14px;
}
.main-module__block-left-dignity-title p:nth-child(2) {
  opacity: 0.7;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

#main-module {
  margin: 75px;
}

.form-control {
  flex-direction: column;
  display: flex;
}

input[type="range"] {
  margin: auto;
  outline: none;
  padding: 0;
  width: 100%;
  height: 2px;
  background-color: #dedede;
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, #fff),
    color-stop(100%, #fff)
  );
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  background: #fff;
  border-radius: 100%;
  -webkit-appearance: none;
}

.calulator_content {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 30px;
  margin-top: 35px;
}

.calulator_content form {
  border-radius: 15px;
  border: 1px solid #443972;
  background: #2a164f;
  color: #fff;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.calulator_content form h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.calulator_content form .btn {
  justify-content: center;
  font-size: 16px;
  width: 240px;
  height: 50px;
  line-height: 24px;
  text-align: center;
  align-self: center;
  padding: 0;
}

#calculator {
  background: #1e0038;
  margin: 90px 0;
}

#calculator .container {
}

.calulator_title {
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

.form-control h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 10px;
}
.form-control .nice-select {
  height: 40px;
  background-color: transparent;
}
.form-control {
  position: relative;
}

.form-control output {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(24, 12, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 12px;
  padding: 0 5px;
}

.nice-select .list {
  width: 100%;
}

.checkbox-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.checkbox-item label {
  font-size: 14px;
  line-height: 127.5%;
  letter-spacing: 0.02em;
}

.checkbox-item {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 100%;
  left: 0;
  z-index: 1;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid rgba(24, 12, 0, 0.1);
  box-sizing: border-box;
  border-radius: 2px;
}

.checkbox-item:hover input ~ .checkmark {
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-item input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-item .checkmark:after {
  background-color: #fff;
  width: 14px;
  height: 14px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#other {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  border-color: #dbdbdb;
}

.calculator_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
}

.full {
  grid-column-start: 1;
  grid-column-end: 3;
}

.calculator_image {
}

.hamburher {
  display: none;
}

.screen-placement__block-info-wrapper-image {
  margin-right: 20px;
}

.screen-placement__block-info-wrapper-image:nth-last-child(1) {
  margin-right: 0;
}

.modal-form-block {
  padding: 75px;
}

.fancybox__content {
  border-radius: 8px;
}

.side-menu {
  display: none;
}

.main-module__block-left-title {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 7;
}

.main-module__block-left-subtitle {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}

.main-module__block-left-dignity {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: auto;
}

.main-module__block-right {
  grid-row-start: 1;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-end: 4;
}

.side-menu_menu .menu {
  flex-direction: column;
  align-items: baseline;
}

.main-module__block-right-images {
  cursor: grabbing;
}

.main-module__block-right {
  text-align: center;
}
.hidden-form {
  display: none;
}
.calc-submit {
  cursor: pointer;
}
#lead-data-form {
  padding: 30px;
  background-size: 100%;
  background-position: 90% 60%;
  background-repeat: no-repeat;
}
#lead-data-form h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.025em;
  color: #ffffff;
}
#lead-data-form form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#lead-data-form form input {
  max-width: 100%;
}
#lead-data-form .form-data {
  padding-top: 0;
}

#other-products {
  margin: 90px 0;
}
#other-products h2 {
  text-align: center;
}

.other-products__blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.other-products__info {
  max-width: 323px;
  margin: 0 auto;
  text-align: center;
}
.other-products__blocks > div:nth-child(1) {
  justify-self: flex-end;
}

.other-products__blocks > div:nth-child(2) {
  justify-self: flex-start;
}
.other-products__block-image img {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.other-products__block-title {
  color: #fff;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.other-products__block-text {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 25px;
}
.other-products__block-link {
  border-radius: 30px;
  width: 220px;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(68 57 114 / 40%);
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mediapolis_is__block_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.display-device__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: flex-end;
}

.display-device__description {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.display-device__title {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.display-device__image {
  text-align: right;
}

.display-device__image img {
  width: 100%;
}

.bread-crumbs {
  margin: 20px 0 50px 0;
}

.bread-crumbs__content {
  background: #FFFFFF0A;
  padding: 12px 17px;
  color: #FFFFFF99;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.bread-crumbs__content span {
  color: #fff;
}

@media (max-width: 1549px) {
  .dashed-line {
    height: 21vw;
  }
}

@media (max-width: 1359px) {
  .dashed-line {
    height: 23vw;
  }
}

@media (max-width: 1199px) {
  .hamburher {
    display: block;
    cursor: pointer;
  }

  .overview {
    display: none;
    background: rgba(23, 22, 49, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }

  .side-menu {
    left: -100%;
    top: 0;
    background-color: #fff;
    width: 70vw;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
    transition: all 0.5s ease-in-out;
    padding: 50px 10px;
  }

  .side-menu .contact-phones {
    margin-left: 0;
  }

  .side-menu.show {
    left: 0;
  }

  .header-content #callback {
    display: none;
  }

  .header-content .menu {
    display: none;
  }

  .body-svg-dots-one {
    left: 90px;
    top: 203px;
    transform: scale(0.7);
  }

  .body-bg-svg-left path,
  .body-bg-svg-right path {
    transform: scale(0.9);
  }

  .body-bg-svg-right {
    right: -240px;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  .body-svg-line-one {
    top: 158px;
  }

  .body-svg-cross-one {
    top: 346px;
    transform: scale(0.8);
  }

  .body-svg-line-two {
    left: 0;
    top: 367px;
    transform: scale(0.8);
  }

  .hero__arrow {
    display: none;
  }

  .body-svg-cross-two {
    display: none;
  }

  .body-svg-dots-two {
    right: 23px;
    top: 802px;
  }

  .form {
    padding: 38px 30px 15px 30px;
  }

  .body-bg-svg-right,
  .body-bg-svg-left {
    display: none;
  }

  #where_to_put {
    margin-top: 0;
  }

  #display-device {
    margin-bottom: 50px;
  }

  .more_than_four .where_to_put__block-locations-item:nth-child(1) {
    width: calc(43% - 20px);
    margin-right: 20px;
  }

  .more_than_four .where_to_put__block-locations-item:nth-child(2) {
    width: calc(34.5% - 20px);
    margin-right: 20px;
  }

  .more_than_four .where_to_put__block-locations-item:nth-child(4) {
    width: calc(34.1% - 20px);
    margin-right: 20px;
  }

  .more_than_four .where_to_put__block-locations-item:nth-child(5) {
    width: calc(34.6% - 20px);
    margin-right: 20px;
  }

  .more_than_four .where_to_put__block-locations-item:nth-child(7) {
    width: calc(51.5% - 20px);
    margin-right: 20px;
  }

  #project_slider .swiper-button-next,
  #project_slider .swiper-container-rtl .swiper-button-prev,
  #solution_slider .swiper-button-next,
  #solution_slider .swiper-container-rtl .swiper-button-prev {
    right: 10px;
  }

  #project_slider .swiper-button-prev,
  #project_slider .swiper-container-rtl .swiper-button-next,
  #solution_slider .swiper-button-prev,
  #solution_slider .swiper-container-rtl .swiper-button-next {
    left: 10px;
  }

  .delivery-methods__blocks {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-headermenu-container ul a {
    color: #000;
  }

  .additional-options__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .additional-options__block {
    padding: 20px 0;
  }

  .additional-options__block-description {
    max-width: 90%;
    margin: 0 auto;
  }

  .types-of-screens__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
  }


  .types-of-screens__block {
    width: 100%;
  }
}

@media (max-width: 1115px) {
  .main-module__block-left-subtitle {
    grid-row-start: 8;
  }

  .main-module__block-left-dignity {
    grid-row-start: 9;
  }

  #main-form-question .left img {
    max-width: 400px;
  }
  .hero__block-title {
    font-size: 50px;
    line-height: 65px;
  }
}

@media (max-width: 959px) {
  .mediapolis_is__block_content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .mediapolis_is__block-image {
    margin: 0;
  }

  .mediapolis_is__block-first-row-dignity, .mediapolis_is__block-second-row-dignity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-items: unset;
  }

  .mediapolis_is__block-item {
    align-items: center;
  }

  .mediapolis_is__block-title {
    text-align: center;
  }

  .section-title {
    margin-bottom: 24px;
  }

  .led-screen-type-block-item {
    margin-bottom: 0;
  }

  .led-screen-type-block-items {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .led-screen-type-block-item-title {
    margin: 12px 0;
  }

  .led-screen-type-block-item-image {
    display: flex;
    justify-content: center;
  }

  .led-screen-type-block-item-image img {
    object-fit: contain;
    width: auto;
    height: auto;
  }

  .container {
    padding: 0 10px;
  }

  .hamburher svg {
    width: 30px;
  }

  .contact-phones .number {
    font-size: 20px;
    line-height: 24px;
  }

  .hero__block-title,
  .main-module__block-left-title {
    font-size: 34px;
    line-height: 41px;
  }

  .main-module__block-left-title {
    grid-column-start: 1;
    grid-column-end: 11;
  }

  .main-module__block-left-subtitle {
    font-size: 20px;
    line-height: 127.5%;
    grid-row-start: 4;
    grid-column-end: 5;
  }

  .main-module__block-left-dignity {
    grid-template-columns: 1fr;
    grid-row-start: 6;
  }

  .main-module__block-right {
    grid-row-start: 4;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-end: 24;
    box-sizing: content-box;
  }

  .screen-placement__block.right .container {
    flex-direction: column;
  }

  .screen-placement__block.left .container {
    flex-direction: column;
  }

  .screen-placement__block.right .screen-placement__block-image {
    margin-left: 0;
    text-align: center;
  }

  .screen-placement__block-info-example-wrapper {
    justify-content: flex-start;
  }

  .form {
    flex-direction: column;
    padding: 38px 79px 15px 79px;
  }

  .form-data:last-child {
    max-width: unset;
  }

  .form-data {
    margin: 0;
  }

  .led-screen-type-block-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  #led-screen-type {
    margin-bottom: 20px;
  }

  .hero__block-dignity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 20px;
  }

  .hero__block-dignity-item {
    padding-left: 10%;
  }

  .project_slider-block-title,
  .led-screen-type-title,
  .screen-placement__block-info-title,
  .solution_slider-block-title,
  .delivery-methods__title,
  .four_stages__title,
  .product-quality__block-right-title,
  .mediapolis_is__main-title,
  .display-device__block-title,
  .where_to_put__block-title,
  .calulator_title,
  .pixel-step__title,
  .types-of-screens__title,
  .additional-options__title {
    font-size: 28px;
    line-height: 33px;
  }

  .additional-options__block {
    justify-self: center;
  }

  .hero__block-subtitle {
    font-size: 20px;
    line-height: 127.5%;
  }

  #led-screen-type {
    margin-top: 100px;
  }

  .screen-placement__block-info-text {
    font-size: 20px;
    line-height: 162%;
    max-width: 460px;
  }

  .screen-placement__block-image {
    text-align: center;
    margin: 0;
  }

  .solution_slider-block-description {
    font-size: 20px;
    line-height: 162%;
  }

  #delivery-methods {
    margin-top: 112px;
  }

  #solution_slider {
    margin-top: 107px;
  }

  .delivery-methods__info {
    max-width: unset;
    width: 100%;
  }

  .delivery-methods__block.left .delivery-methods__block-image {
    margin: 0;
    width: 100%;
  }

  .delivery-methods__block.left .delivery-methods__block-image img {
    width: 100%;
  }

  .delivery-methods__block.top {
    justify-content: flex-start;
    flex-direction: row;
    padding: 55px 60px;
  }

  .delivery-methods__block.right-bottom .delivery-methods__block-image {
    position: unset;
  }

  .delivery-methods__block:nth-child(3) {
    flex-direction: row-reverse;
    align-items: center;
  }

  .delivery-methods__block.top-right {
    flex-direction: row-reverse;
    align-items: center;
  }

  .delivery-methods__block.top-right .delivery-methods__block-image {
    transform: unset;
  }

  .delivery-methods__block.top-right .delivery-methods__info {
    align-self: unset;
  }

  #four_stages {
    margin-top: 74px;
  }

  .four_stages__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 72px 32px;
  }

  .footer-content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #product-quality {
    height: unset;
  }

  .product-quality__block {
    flex-direction: column-reverse;
  }

  .product-quality__block-left-image img {
    position: unset;
    left: unset;
    bottom: unset;
    width: 100%;
  }

  .four_stages__block {
    margin-right: 0;
  }

  .led-screen-type-block-item:nth-last-child(2) {
    margin-right: 0;
  }

  .mediapolis_is__block-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .mediapolis_is__block-item:last-child {
    margin-right: 0;
  }

  .mediapolis_is__block-description {
    margin-left: 0;
  }

  .mediapolis_is__main-title {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .mediapolis_is__block-image img {
    height: 294px;
    object-fit: cover;
  }

  .display-device_show {
    grid-template-columns: 1fr;
  }

  .display-device_show-two,
  .display-device_show-one {
    text-align: center;
  }

  .display-device_show img {
    max-width: 466px;
  }

  .dashed-line {
    height: 39vw;
  }

  .display-device_show-one {
    margin-bottom: 90px;
  }

  .dashed-cursor.step {
    left: 24.5%;
    bottom: 75%;
  }

  .spets-lines {
    width: 71%;
  }

  .display-device_show-two .image-caprion {
    text-align: initial;
    left: 14%;
    font-size: 14px;
    line-height: 20px;
  }

  .display-device_show {
    padding-bottom: 40px;
  }

  .where_to_put__block-locations {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 20px 50px;
  }

  .where_to_put__block-locations-item {
    width: 100% !important;
    margin: 0;
  }

  .calulator_content {
    flex-direction: column-reverse;
  }

  .calulator_content form {
    max-width: 100%;
  }

  .main_number {
    font-size: 22px;
  }

  .calculator_image {
    margin-left: 0;
  }

  .mediapolis_is__block.column .mediapolis_is__block_content {
    flex-direction: column;
    margin-top: 40px;
  }

  .mediapolis_is__block-image {
    margin-right: auto;
    margin-left: auto;
  }

  .mediapolis_is__block-image img {
    height: auto;
  }
}

@media (max-width: 849px) {
  .why-me-block-items {
    grid-template-columns: 1fr;
  }
  .other-products__blocks {
    grid-template-columns: 1fr;
  }
  .other-products__blocks > div:nth-child(1) {
    justify-self: center;
  }
  .other-products__blocks > div:nth-child(2) {
    justify-self: center;
  }
  .display-device__content {
    grid-template-columns: 1fr;
  }
  .display-device__image {
    text-align: center;
  }
  .mediapolis_is__block_content {
    grid-template-columns: 1fr;
  }

  .mediapolis_is__block-item {
    
  }
  .mediapolis_is__block-item {
    width: auto;
    margin: 0;
    text-align: center;
  }
  .calulator_content {
    grid-template-columns: 1fr;
  }
  .main-module__block-left-subtitle {
    grid-row-start: 5;
    grid-column-end: 6;
  }

  .main-module__block-left-dignity {
    grid-row-start: 7;
  }
  .modal-block-form .form {
    grid-template-columns: 1fr;
  }
  .modal-form-block {
    padding: 30px;
  }
  #lead-data-form form {
    margin-top: 20px;
    display: grid;
    gap: 10px;
  }
  #lead-data-form {
    padding: 60px 30px;
  }
}

@media (max-width: 639px) {
  .mediapolis_is__block-first-row-dignity, .mediapolis_is__block-second-row-dignity {
    grid-template-columns: 1fr;
  }

  .solution_slider-block {
    margin-top: 0;
  }

  #hero .swiper-slide img {
    height: 300px;
  }

  #hero {
    margin-bottom: 40px;
  }

  #led-screen-type, #why-me, #main-form, #project_slider, #main-form-two, #solution_slider, #main-form-three, #how-work, #delivery-methods, #about_company, #our_partners, #other-products, #mediapolis_is, #calculator {
    margin: 40px 0;
  }

  #main-form-question {
    margin-top: 40px;
  }

  .section-title {
    font-size: 26px;
    line-height: 32px;
  }

  .phone-form {
    flex-direction: column;
  }

  .phone-form input[type="submit"] {
    height: 52px;
  }

  .header-content .contact-phones {
    display: none;
  }

  .calulator_content form {
    padding: 57px 20px;
  }

  .main-module__block-right > svg {
    transform: translateY(70px);
  }

  .main-module__block-right-images {
    transform: scale(0.8);
  }

  .hero__block-title {
    font-size: 28px;
    line-height: 34px;
  }

  .hero__block-subtitle {
    font-size: 18px;
    line-height: 127.5%;
  }

  .hero__block-dignity {
    padding: 0;
    gap: 20px;
  }

  .hero__block-dignity-item-title {
    font-size: 14px;
    line-height: 127.5%;
  }

  .hero__block-dignity-item {
    padding: 0;
    margin: 0;
  }

  .form {
    padding: 38px 26px 15px 26px;
  }

  .project_slider-block-title,
  .led-screen-type-title,
  .screen-placement__block-info-title,
  .solution_slider-block-title,
  .delivery-methods__title,
  .four_stages__title,
  .product-quality__block-right-title,
  .pixel-step__title,
  .types-of-screens__title,
  .calulator_title,
  .where_to_put__block-title,
  .display-device__block-title,
  .mediapolis_is__main-title,
  .main-module__block-left-title {
    font-size: 24px;
    line-height: 29px;
  }

  .main-module__block-left-subtitle {
    font-size: 18px;
    line-height: 127.5%;
  }

  .project_slider-block-title {
    margin-bottom: 28px;
  }

  #screen-placement {
    margin-top: 105px;
  }

  .screen-placement__block-info-text {
    font-size: 18px;
    line-height: 162%;
  }

  .screen-placement__block.left .screen-placement__block-image {
    margin: 0;
  }

  .delivery-methods__block-image img {
    width: 100%;
  }

  .delivery-methods__block.top .delivery-methods__block-title {
    margin-top: 0;
  }

  .delivery-methods__block.left .delivery-methods__block-image {
    display: flex;
    align-items: center;
  }

  .delivery-methods__block {
    padding: 20px;
  }

  .delivery-methods__block.right-bottom .delivery-methods__info,
  .delivery-methods__block.top-right .delivery-methods__info,
  .delivery-methods__block.left .delivery-methods__info {
    margin: 0;
  }

  .four_stages__block {
    grid-template-rows: 107px 45px;
  }

  .product-quality__block-right {
    padding-top: 80px;
  }

  #product-quality {
    margin-top: 80px;
  }

  body .less_than_four .where_to_put__block-locations-item {
    margin-bottom: 0 !important;
  }

  .copyright {
    font-size: 12px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  footer .contact-phones {
    margin-top: 20px;
  }

  footer {
    padding: 20px 0 20px;
  }

  .copyright {
    margin-top: 20px;
  }

  footer .social-contancs {
    text-align: center;
  }

  .requisites {
    margin-top: 0;
  }

  .logo img {
    max-width: 150px;
  }

  .solution_slider-block-description {
    font-size: 18px;
    line-height: 162%;
  }

  .hero__block-gallery .swiper-slide img {
    min-height: 300px;
  }

  .mediapolis_is__block-second-row-dignity-image img {
    max-width: 40px;
  }

  .more_than_four .where_to_put__block-locations-item {
    margin-bottom: 0;
  }

  .where_to_put__block-locations-item img {
    max-height: unset;
  }

  .where_to_put__block-locations {
    gap: 80px 50px;
  }

  .types-of-screens__block-image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .mediapolis_is__block-item:last-child {
    margin-bottom: 0;
  }

  .mediapolis_is__block-description {
    margin-left: 17px;
  }

  .where_to_put__block-locations {
    grid-template-columns: 1fr;
  }

  .dashed-line {
    height: 51vw;
  }

  .dashed-cursor.module .dashed-line {
    transform: rotate(35deg) translate(36px, -11px);
  }

  .dashed-cursor.module p {
    transform: translate(49px, 79%);
  }

  .dashed-cursor.step {
    left: 15.5%;
    bottom: 75%;
  }

  .display-device_show-two .image-caprion {
    left: 20px;
  }

  .types-of-screens__blocks {
    grid-template-columns: 1fr !important;
    gap: 15px;
  }

  #calculator {
    padding: 0;
  }

  body > svg {
    display: none;
  }

  .main-module__block {
    display: flex;
    flex-direction: column;
  }

  .main-module__block-left-subtitle {
    grid-row-start: 4;
    grid-column-end: 11;
  }

  .main-module__block-left-dignity {
    grid-row-start: 5;
    grid-column-end: 11;
    grid-template-columns: 1fr 1fr;
  }

  .main-module__block-right {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-end: 24;
  }

  .main-module__block {
    margin-top: 50px;
  }

  .main-module__block-left-title,
  .main-module__block-left-subtitle {
    text-align: center;
  }

  .bread-crumbs {
    margin: 20px 0 20px 0;
  }

  .additional-options__blocks {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 579px) {
  .screen-placement__block-image img {
    width: 100%;
  }

  .form-control h4 {
    font-size: 14px;
  }

  .four_stages__block-image:after {
    transform: translate(157px, 17px);
  }

  .body-svg-dots-one {
    left: 30px;
    top: 113px;
  }

  .delivery-methods__blocks {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 479px) {
  .four_stages__block-image:after {
    transform: translate(137px, 17px);
  }

  /* .dashed-cursor.step {
        left: 13.5%;
    } */
  .spets-lines {
    width: 75%;
  }

  .four_stages__block {
    grid-template-rows: 97px 75px;
  }

  .project-slider .swiper-slide img,
  .solution-slider .swiper-slide img {
    min-height: 300px;
  }

  .main-module__block-left-dignity {
    grid-template-columns: 1fr;
  }

  .dashed-cursor p {
    font-size: 21px;
  }

  .display-device_show-two .image-caprion {
    left: 8px;
    bottom: 10px;
    max-width: 156px;
  }
}
